body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-color: rgb(116, 116, 116);
  background-image: url("https://media0.giphy.com/media/H1YIaeKAr985AqIqWl/giphy.gif?cid=ecf05e474l126n4yyropnj8yivuwroz8czan32shlf3iuxzq&rid=giphy.gif&ct=g");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(48, 109, 241);
  text-align: center;
  padding: 20px;
  height: 80px;
}

.page-title {
  line-height: 80px;
  font-size: 50px;
  color: #fff;
  text-shadow: rgb(0, 2, 110) 3px 2px 4px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto 00px auto;
}

.input-container {
  margin-top: 30px;
  display: inline-block;
  width: 1200px;
  height: 40px;
}

input {
  padding: 0 0 0 10px;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 490px;
  box-sizing: border-box;
}

.input-container2 {
  margin: 0 auto 10px auto;
  display: inline-block;
  width: 900px;
}

#nome {
  width: 200px;
}

button,
.git {
  background-color: rgb(48, 109, 241);
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.541) 1px 1px 1px;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  margin: 0;
  transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 200ms;
}

button:hover,
.git:hover {
  background-color: rgb(97, 137, 221);
  transform: scale(1.05);
  cursor: pointer;
}

.btn-remove {
  background-color: rgb(216, 22, 22);
}

.btn-remove:hover {
  background-color: rgb(221, 94, 94);
}

section {
  background-color: rgb(39, 39, 39);
  border-radius: 5px;
  /* height: 500px; */
  width: 100%;
  margin: 20px 5px;
  padding: 15px 15px 40px;
  box-sizing: border-box;
}

section img {
  margin: 5px 10px;
}

p {
  font-size: large;
  color: #fff;
  font-weight: bolder;
}

#msg,
#msgr {
  display: inline-block;
  background-color: brown;
  border-radius: 5px;
  line-height: 30px;
  margin: 10px auto;
  padding: 0 10px;
}

.page-subtitle {
  font-size: 30px;
  color: #f7f7f7;
  margin-top: 5px;
  margin-bottom: 15px;
}

.main-footer {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: rgb(43, 42, 42);
}

.page-logo {
  margin-top: auto;
  margin-bottom: auto;
  width: 200px;
  height: 40px;
}

.alura-logo {
  width: 40px;

  position: absolute;
  top: 10px;
  right: 10px;
}

body > img {
  margin: 0 10px;
}
.filmes {
  margin-top: 60px;
}

#secfilmes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.divfilmes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 200px;
  margin-bottom: 10px;
  padding: 10px;
  transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 200ms;
}

.divfilmes:hover {
  transform: scale(1.05);
  background-color: #f7f7f73d;
  border-radius: 5px;
}

.divfilmes p {
  margin: 5px;
  width: 150px;
}

img {
  max-height: 250px;
  max-width: 200px;
}

.git {
  line-height: 40px;
  width: 100px;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
}
